Repository aliencube/azure-openai-sdk-proxy, pull requests merged in 2024-10, with the labels that each got.

#314 [Playground] Refactoring `OpenAIApiClient` #163
  src/AzureOpenAIProxy.AppHost/Program.cs
  src/AzureOpenAIProxy.PlaygroundApp/Clients/OpenAIApiClient.cs
  src/AzureOpenAIProxy.PlaygroundApp/Clients/OpenAIApiClientOptions.cs
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/ChatWindowComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/OldChatWindowComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Configurations/ServicesSettings.cs
  src/AzureOpenAIProxy.PlaygroundApp/Program.cs
Labels: ossca, playground, team-oh, task

#330 [Backend API] Implement endpoint for list of events
  src/AzureOpenAIProxy.ApiApp/Endpoints/PlaygroundEndpoints.cs
  src/AzureOpenAIProxy.ApiApp/Program.cs
  src/AzureOpenAIProxy.ApiApp/Repositories/EventRepository.cs
  src/AzureOpenAIProxy.ApiApp/Services/PlaygroundService.cs
  test/AzureOpenAIProxy.ApiApp.Tests/Repositories/EventRepositoryTests.cs
  test/AzureOpenAIProxy.ApiApp.Tests/Services/PlaygroundServiceTests.cs
Labels: ossca, backend, team-park, task

#311 [Playground] Add Events components
  src/AzureOpenAIProxy.PlaygroundApp/Components/Pages/Events.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/EventItemComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/EventItemComponent.razor.css
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/EventListComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/EventListComponent.razor.css
  test/AzureOpenAIProxy.AppHost.Tests/PlaygroundApp/Pages/EventsPageTests.cs
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/EventsPageTests.cs
Labels: ossca, playground, team-oh, task

#293 [Admin] Component: Create event details - UI component #214
  src/AzureOpenAIProxy.PlaygroundApp/AzureOpenAIProxy.PlaygroundApp.csproj
  src/AzureOpenAIProxy.PlaygroundApp/Components/Pages/AdminNewEvent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/Admin/NewEventDetailsComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/Admin/NewEventDetailsComponent.razor.css
  src/AzureOpenAIProxy.PlaygroundApp/Models/AdminEventDetails.cs
  src/AzureOpenAIProxy.PlaygroundApp/Models/EventDetails.cs
  test/AzureOpenAIProxy.AppHost.Tests/PlaygroundApp/Pages/NewEventDetailsPageTests.cs
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/NewEventDetailsPageTests.cs
Labels: ossca, admin, team-kim, task
