Repository aliencube/azure-openai-sdk-proxy, pull requests merged in 2024-09, with the labels that each got.

#286 [Admin] Add admin event service layer
  src/AzureOpenAIProxy.ApiApp/Endpoints/AdminEventEndpoints.cs
  src/AzureOpenAIProxy.ApiApp/Models/AdminEventDetails.cs
  src/AzureOpenAIProxy.ApiApp/Models/EventDetails.cs
  src/AzureOpenAIProxy.ApiApp/Program.cs
  src/AzureOpenAIProxy.ApiApp/Services/AdminEventService.cs
  test/AzureOpenAIProxy.ApiApp.Tests/Services/AdminEventServiceTests.cs
  test/AzureOpenAIProxy.AppHost.Tests/AppHostProgramTests.cs
Labels: ossca, admin, task

#291 [Playground] playground page layout
  src/AzureOpenAIProxy.PlaygroundApp/Components/App.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/Layout/MainLayout.razor.css
  src/AzureOpenAIProxy.PlaygroundApp/Components/Layout/NavMenu.razor.css
  src/AzureOpenAIProxy.PlaygroundApp/Components/Pages/Playground.razor
  src/AzureOpenAIProxy.PlaygroundApp/wwwroot/app.css
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/PlaygroundPageTests.cs
Labels: ossca, playground, task

#297 Update debug button component
  src/AzureOpenAIProxy.PlaygroundApp/Components/Pages/Tests.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/DebugButtonComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/DebugTargetComponent.razor
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/HomePageTests.cs
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/TestsPageTests.cs
Labels: ossca, task, devops

#266 [Admin] Component: List event details - UI component #219
  src/AzureOpenAIProxy.PlaygroundApp/Components/Pages/AdminEvents.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/Admin/AdminEventIsActiveComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/Admin/AdminEventIsActiveComponent.razor.css
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/Admin/AdminEventsComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/Admin/AdminEventsComponent.razor.css
  src/AzureOpenAIProxy.PlaygroundApp/Components/_Imports.razor
  src/AzureOpenAIProxy.PlaygroundApp/Models/AdminEventDetails.cs
  src/AzureOpenAIProxy.PlaygroundApp/Models/EventDetails.cs
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/AdminEventsPageTests.cs
Labels: ossca, admin, team-oh, task

#260 [Playground] Component - list of deployment models (UI only) #172
  src/AzureOpenAIProxy.PlaygroundApp/Components/Pages/Tests.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/DeploymentModelListComponent.razor
  test/AzureOpenAIProxy.PlaygroundApp.Tests/AzureOpenAIProxy.PlaygroundApp.Tests.csproj
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/TestsPageTests.cs
  test/AzureOpenAIProxy.PlaygroundApp.Tests/UI/DeploymentModelListComponentTests.cs
Labels: ossca, playground, team-park, task

#301 Update UI test methods
  src/AzureOpenAIProxy.PlaygroundApp/Components/Pages/AdminEvents.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/Pages/Tests.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/Admin/AdminEventsComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/DeploymentModelListComponent.razor
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/AdminEventsPageTests.cs
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/HomePageTests.cs
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/PlaygroundPageTests.cs
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/TestsPageTests.cs
  test/AzureOpenAIProxy.PlaygroundApp.Tests/UI/DeploymentModelListComponentTests.cs
Labels: ossca, playground, admin, task

#298 [Chat Completions] Response payload definition #22 (backup)
  src/AzureOpenAIProxy.ApiApp/Converters/EnumMemberConverter.cs
  src/AzureOpenAIProxy.ApiApp/Endpoints/ProxyChatCompletionsEndpoint.cs
  src/AzureOpenAIProxy.ApiApp/Models/CreateChatCompletionResponse.cs
  test/AzureOpenAIProxy.ApiApp.Tests/Converters/EnumMemberConverterTests.cs
  test/AzureOpenAIProxy.ApiApp.Tests/Models/CreateChatCompletionResponseTests.cs
  test/AzureOpenAIProxy.AppHost.Tests/ApiApp/Schemas/ChatCompletionSchemasOpenApiTests.cs
Labels: ossca, team-oh, task, openapi

#306 [Admin] Add admin resource details entity
  src/AzureOpenAIProxy.ApiApp/Models/AdminEventDetails.cs
  src/AzureOpenAIProxy.ApiApp/Models/AdminResourceDetails.cs
  src/AzureOpenAIProxy.ApiApp/Models/EventDetails.cs
  test/AzureOpenAIProxy.ApiApp.Tests/Models/AdminResourceDetailsTests.cs
  test/AzureOpenAIProxy.ApiApp.Tests/Models/CreateChatCompletionResponseTests.cs
Labels: ossca, admin, task

#305 [DevOps] .spectral.yaml 수정 - 404, 400 정의 #268
  .spectral.yaml
  src/AzureOpenAIProxy.ApiApp/Endpoints/AdminEventEndpoints.cs
  src/AzureOpenAIProxy.ApiApp/Endpoints/ProxyChatCompletionsEndpoint.cs
Labels: ossca, team-park, task, devops

#299 [Admin] Table Storage Connection Setting
  src/AzureOpenAIProxy.ApiApp/AzureOpenAIProxy.ApiApp.csproj
  src/AzureOpenAIProxy.ApiApp/Configurations/KeyVaultSettings.cs
  src/AzureOpenAIProxy.ApiApp/Extensions/OpenAISettingsBuilderExtensions.cs
  src/AzureOpenAIProxy.ApiApp/Extensions/ServiceCollectionExtensions.cs
  src/AzureOpenAIProxy.ApiApp/KeyVaultSecretNames.cs
  src/AzureOpenAIProxy.ApiApp/Program.cs
  src/AzureOpenAIProxy.ApiApp/appsettings.json
  test/AzureOpenAIProxy.ApiApp.Tests/Extensions/ServiceCollectionExtensionsTests.cs
Labels: ossca, backend, team-park, task

#317 [Admin] Add Test Codes for AddTableStorageService
  test/AzureOpenAIProxy.ApiApp.Tests/Extensions/ServiceCollectionExtensionsTests.cs
Labels: ossca, backend, team-park, task

#316 [Playground] Add chat window component
  src/AzureOpenAIProxy.ApiApp/Models/AdminResourceDetails.cs
  src/AzureOpenAIProxy.PlaygroundApp/Components/Pages/Home.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/Pages/Playground.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/ChatHistoryComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/ChatPromptComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/ChatWindowComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/OldChatWindowComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Models/ChatMessage.cs
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/PlaygroundPageTests.cs
Labels: ossca, playground, task

#292 [DevOps] Table Storage용 bicep 파일 만들기 #283
  infra/aspire.bicep
  infra/core/storage/storage-account.bicep
Labels: ossca, team-kim, task, devops

#313 [OpenAPI] Add endpoint for create new admin resource details #307
  src/AzureOpenAIProxy.ApiApp/Endpoints/AdminEndpointUrls.cs
  src/AzureOpenAIProxy.ApiApp/Endpoints/AdminResourceEndpoints.cs
  src/AzureOpenAIProxy.ApiApp/Filters/OpenApiTagFilter.cs
  src/AzureOpenAIProxy.ApiApp/Program.cs
  test/AzureOpenAIProxy.AppHost.Tests/ApiApp/Endpoints/AdminCreateResourcesOpenApiTests.cs
Labels: ossca, team-park, task, openapi

#322 [OpenAPI] Refactoring `AdminGetEventDetailsOpenApiTests`
  test/AzureOpenAIProxy.AppHost.Tests/ApiApp/Endpoints/AdminGetEventDetailsOpenApiTests.cs
Labels: ossca, team-park, task, openapi

#280 [Playground] 177 auth UI component
  src/AzureOpenAIProxy.PlaygroundApp/Components/Pages/Home.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/Pages/Playground.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/Pages/Tests.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/ApiKeyInputComponent.razor
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/PlaygroundPageTests.cs
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/TestsPageTests.cs
Labels: ossca, playground, team-park, task

#320 [Backend API] Add Table Name property to appsettings.json
  src/AzureOpenAIProxy.ApiApp/Configurations/StorageAccountSettings.cs
  src/AzureOpenAIProxy.ApiApp/Configurations/TableStorageSettings.cs
  src/AzureOpenAIProxy.ApiApp/Extensions/ServiceCollectionExtensions.cs
  src/AzureOpenAIProxy.ApiApp/Program.cs
  src/AzureOpenAIProxy.ApiApp/Repositories/AdminEventRepository.cs
  src/AzureOpenAIProxy.ApiApp/appsettings.json
  test/AzureOpenAIProxy.ApiApp.Tests/Extensions/ServiceCollectionExtensionsTests.cs
  test/AzureOpenAIProxy.ApiApp.Tests/Repositories/AdminEventRepositoryTests.cs
Labels: ossca, backend, team-park, task

#326 Refactor config components
  src/AzureOpenAIProxy.PlaygroundApp/Components/Pages/Playground.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/Pages/Tests.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/ApiKeyInputComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/ConfigTabComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/ConfigWindowComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/DebugButtonComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/DebugTargetComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/DeploymentModelListComponent.razor
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/PlaygroundPageChatWindowTests.cs
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/PlaygroundPageConfigWindowTests.cs
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/PlaygroundPageTests.cs
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/TestsPageTests.cs
Labels: ossca, playground, task

#294 [OpenAPI] Add endpoint for list of deployment models
  src/AzureOpenAIProxy.ApiApp/Endpoints/PlaygroundEndpointUrls.cs
  src/AzureOpenAIProxy.ApiApp/Endpoints/PlaygroundEndpoints.cs
  src/AzureOpenAIProxy.ApiApp/Models/DeploymentModelDetails.cs
  src/AzureOpenAIProxy.ApiApp/Program.cs
  test/AzureOpenAIProxy.AppHost.Tests/ApiApp/Endpoints/GetDeploymentModelsOpenApiTest.cs
Labels: ossca, team-kim, task, openapi

#312 [Playground] System Message Tab: UI Component only #289
  src/AzureOpenAIProxy.PlaygroundApp/Components/Pages/Playground.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/ConfigTabComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/ConfigWindowComponent.razor
  src/AzureOpenAIProxy.PlaygroundApp/Components/UI/SystemMessageTabComponent.razor
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/PlaygroundPageConfigWindowTests.cs
  test/AzureOpenAIProxy.PlaygroundApp.Tests/Pages/PlaygroundPageTests.cs
Labels: ossca, playground, team-park, task

#318 [Backend API] Implement endpoint for view event details
  src/AzureOpenAIProxy.ApiApp/Endpoints/AdminEventEndpoints.cs
  src/AzureOpenAIProxy.ApiApp/PartitionKeys.cs
  src/AzureOpenAIProxy.ApiApp/Repositories/AdminEventRepository.cs
  test/AzureOpenAIProxy.ApiApp.Tests/Repositories/AdminEventRepositoryTests.cs
  test/AzureOpenAIProxy.ApiApp.Tests/Services/AdminEventServiceTests.cs
Labels: ossca, backend, team-park, task
